
/* CURSOR: POINTED;
 * Ingresa el CSS del proyecto en este archivo
 */

 * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  /* inicio posterior al nbar*/
  margin: 0 auto;
  font-size: 15px;
  line-height: 1.71429;
  background-color: #18ba9a;
  font-family: arial;
}
/*color navbar*/
a {
  color: white;
  text-decoration: none;
}
/*posicionamiento cursor sobre*/
a:hover {
  color: #05B9FF;
}
/*caja*/
.link{
  font-weight: 700;
  padding: 21px;
  display: inline-block;
  float: right;
}

/*barra del header*/
header{
  position: fixed;
  background: #2b3d4f;
  width: 100%;
  top: 0;
}
.menu{
  padding: 14px 80px;
  overflow: auto;
}
/*id que contiene la portada*/
.imagen-center{
  background-position: center;
  text-align: center;
  margin-top: 200px;
  margin-bottom: 80px;
}
/*textos 1 bajo la nav*/
.text-home {
  text-align: center;
  margin-top: 0;
  color: white;
}
.text-home{
  font-size: 60px;
}

/*lineas bajo titulo + estrella perdi demasiado tiempo en ella y nunca quedaban iguales
.linea1{
    border: 2px solid white;
    width: 10%;
    position: inherit;
    margin-top: 10px;
    margin-left: 450px;
}
.linea2{
    border: 2px solid white;
    width: 10%;
    position: inherit;
    margin-top: -10px;
    margin-left: 700px;
}
*/
.text2{
	color: white;
}
.txt { /*texto */
  margin-left: 400px;/*Nunca quiso correrse, si siquiera con text-aling o poniendolo en una de las clases reutilizables*/
  text-align: center;
  margin-top: 30px;
  font-size: 40px;
  color: black;
}

/*seccion portafolio*/


.portafolio{
  background-color: white;
  text-align: center;
  margin-top: 0;	
}
/*lineas con estrellas 2*/
.linea3{
    border: 2px solid black;
    width: 10%;
    position: absolute;
    margin-top: 5px;
    margin-left: 520px;
}
.linea4{
    border: 2px solid black;
    width: 10%;
    position: absolute;
    margin-top: -20px;
    margin-left: 700px;
}
.box-services{
  text-align: center;
  display: inline-block;
  width: 30%;
  margin-top: 63px;
}






/*boton*/
.btn-home{
  background: #2Ecc71;
  color: #fff;
  padding: 11px 20px;
  border-radius: 1px;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 63px;
  display: inline-block;
  font-size: 14px;
}

